@charset "utf-8";


/* 공용 디자인 */
.inner {
    width: 100%;
    max-width: 1200px;
    min-width: 1024px;
    margin: 0 auto;
    position: relative;
}

section {
    margin-bottom: 100px;
}

#wrap {
    width: 100%;
    position: relative;
    min-width: 1024px;
}

h1 {
    display: block;
    font-weight: 400;
    margin-bottom: 20px;
}


/* header */
#header {
    clear: both;
    position: relative;
}

#header .inner {
    position: relative;
}

#header .depth1 {
    display: inline-block;
    width: 100%;
}

#header .depth1 .logo {
    margin: 20px 0;
}

/* nav */
#header nav {
    position: relative;
    width: 100%;
    height: 50px;
}

#header nav::before {
    content: '';
    position: absolute;
    top: 50px;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9991;
    transition: 0.5s;
}

#header nav:hover::before {
    height: 200px;
}

#header .main_nav {
    position: absolute;
    top: 0px;
    height: 50px;
    overflow: hidden;
    width: 100%;
    z-index: 9992;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 1.3rem;
    /* padding: 0 10px; */
    text-align: center;
    border-bottom: ;
    transition: 0.5s;
}

#nav .main_nav:hover {
    height: 250px;
}

#header .main_nav>li>a {
    display: block;
    padding: 10px 0;
}

#header .main_nav>li {
    width: calc(100% / 5);
}

#header .main_nav>li:hover {
    background-color: #396F96;
    color: #fff;
}

#header .main_nav>li:hover>a {
    color: #fff;
}


#nav .main_nav li ul {
    text-align: center;
    z-index: 999999;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    border-top: 1px solid transparent;
}

#nav .main_nav:hover li ul {
    border-top-color: #eee;
}

#nav .main_nav li ul li {
    text-align: center;
    line-height: 1.8em;
    font-size: 1.1rem;
    font-weight: 300;
}


/* mobile nav */
.box {
    position: fixed;
    /* body 기준 */
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: block;
    transition: 0.5s;
}

.box.on {
    left: 0;
    background: rgba(0, 0, 0, 0.9);
}

.btn_all {
    margin-left: 20px;
    transform: translate(0, 22px);
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    background: none;
    z-index: 11;
    display: none;
    transition: 0.5s;
}

.btn_all span {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #aaa;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    width: 100%;
    border-radius: 2px;
}

.btn_all span:nth-child(1) {
    top: 0px;
}

.btn_all span:nth-child(2) {
    top: 10px;
    width: 15px
}

.btn_all span:nth-child(3) {
    top: 20px;
}

.btn_all.on {
    transform: translate(-50px, 100px);

}

.btn_all.on span {
    background-color: #0ff
}

.btn_all.on span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg)
}

.btn_all.on span:nth-child(2) {
    top: 10px;
    width: 0
}

.btn_all.on span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg)
}

/**********nav 끝*****************/



#header .head1 {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}

#header .btn_relative {
    position: relative;
}

#header .head_btn {
    background: url(../images/globe_v2.png) no-repeat;
    background-size: 25px;
    background-position: left 10px center;
    border: 1px solid #888;
    border-radius: 20px;
    outline: none;
    /* width: 100px;
    height: 30px; */
    transform: translate(0, 15px);
    padding: 5px 10px 5px 45px;
    margin: 20px 20px;
    cursor: pointer;
}

#header #language_select {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 102px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #888;
    z-index: 9996;
    padding: 10px 20px;
    box-sizing: border-box;
    display: none;
    margin: 15px 20px;
}

#header .zoom {
    width: 30px;
    height: 30px;
    background: url(../images/zoom_in.png) no-repeat;
    background-size: 30px;
    border: 0;
    transform: translate(0, 15px);
    font-size: 0;
    margin: 22px 0px;
    cursor: pointer;
}

#header .zoom_input {
    position: absolute;
    width: 460px;
    padding: 30px 50px;
    /* padding-bottom: 25px; */
    right: 0;
    top: 60px;
    background-color: #666;
    border-radius: 40px;
    z-index: 9999;
    display: none;
    margin: 20px 20px;
}


#header .zoom_input .input_txt {
    width: 400px;
    height: 40px;
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    margin-right: 10px;
}

#header .zoom_input .input_btn {
    padding: 0 10px;
    border-radius: 10px;
    border: 0;
    height: 40px;
    cursor: pointer;
}


/* slide */

#header .slick-dots {
    background-image: none;
}



/* slick */

#slide .slick-slide img {
    width: 100%;
}

#slide .slick-dots {
    position: absolute;
    right: 15%;
    bottom: 50px;
}

#slide .slick-dots li {
    display: inline-block;
    margin: 0;
}

#slide .slick-dots li button {
    width: 100px;
    height: 3px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0;
    font-size: 0;
    border: 0;
}

#slide .slick-dots li.slick-active button {
    background: #396F96;
}

/* sec1 */

#sec1 .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sec1_form {
    background-color: #c9dd72;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    align-items: center;
}

.sec1_title {
    color: #222;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 5px;
}

.sec1_subtitle {
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 7px;
}

.input_container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.sec1_input {
    background-color: #eeeeee;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #222;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    text-align: center;
}

.cut {
    background-color: #c9dd72;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #cccccc;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #38b449;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    // outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #396f96;
}

.submit:hover {
    background-color: #106cb7;
}

/* sec1_right */

.sec1_right {
    margin-bottom: 140px;
}

.sec1_right .slider-for {
    width: 400px;
    overflow: hidden;
    top:50%
}

.sec1_right .slider-for img {
    width: 100%;
}

.sec1_right .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.sec1_right .slick-active {
    opacity: .5;
}

.sec1_right .slick-current {
    opacity: 1;
}

.sec1_right .img {
    position: relative;
}

.sec1_right .slide_txt {
    position: absolute;
    width: 100%;
    /* height: 4rem; */
    left: 30%;
    top: 5%;
    z-index: 99999;
    overflow: hidden;
    font-size: 4rem;
    text-shadow: 2px 2px 2px #666;
}

.sec1_right .sec2_txt .sec2_city {
    font-size: 6rem;
    font-weight: 600;
    color: orangered;
    padding: 0 10px;
    /* border-bottom: 3px solid orangered; */
    text-shadow: 2px 2px 2px orange;
}

.sec1_right .sec2_imgtxt {
    color: #555;
}

/* sec3 */
#sec3 {
    margin-bottom: 120px;
}

#sec3 .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 650px;
}

#sec3 .sec3_left,
#sec3 .sec3_right {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#sec3 .sec3_left .sec3_insta {
    height: 100%;
}

#sec3 h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

/* #sec3 .img {
    position: relative;
} */

/* #sec3 .slick-slide {
    width: 350px;
    height: 600px;
} */

#sec3 .slick-arrow {
    position: absolute;
    top: -8%;
    left: 70%;
    width: 40px;
    height: 40px;
    z-index: 9999;
}

#sec3 .slick-prev {
    background: url(../images/left_button.png);
    font-size: 0;
    border: 0;
}

#sec3 .slick-next {
    background: url(../images/right_button.png);
    font-size: 0;
    border: 0;
    z-index: 9999;
    left: 77%;
}

#sec3 .sec3_left img,
#sec3 .sec3_right img {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    margin-bottom: 100px;
    position: relative;
    object-fit: scale-down;
    /* object-position: center; */
}

#sec3 .insta_footer,
#sec3 .youtube_footer {
    background-color: #396F96;
    position: fixed;
    top: 50%;
}


/* sec4 */
#sec4 .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

#sec4 h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

#sec4 .sec4_notice,
#sec4 .sec4_vdo {
    width: 50%;
}

#sec4 .sec4_notice {
    margin-right: 50px;
}

#sec4 .slick-slide img {
    width: 100%;
    display: block;
}

#sec4 .slick-arrow {
    position: absolute;
    width: 30px;
    height: 40px;
    top: -50px;
}

#sec4 .slick-prev.slick-arrow {
    background: url(../images/left_button.png);
    font-size: 0;
    border: 0;
    left: 86%;
}

#sec4 .slick-next.slick-arrow {
    background: url(../images/right_button.png);
    font-size: 0;
    border: 0;
    left: 93%;
}

#sec4 li {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#sec4 .sec4_title {
    color: crimson;
    margin-right: 10px;
}

#sec4 .sec4_date {
    font-size: 1rem;
    margin-left: 15px;
}

/* sec5 */
#sec5 {
    margin-bottom: 20px;
}

#sec5 .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#sec5 .sec5_button {
    width: 180px;
}

#sec5 .sec5_title {
    font-weight: 600;
    font-size: 1.2rem;
}

#sec5 .sec5_slide {
    width: calc(100% - 180px);
}

#sec5 .slick-arrow {
    position: absolute;
    left: -180px;
    top: 45%;
    width: 30px;
    height: 40px;
    z-index: 9999;
}

#sec5 .slick-prev {
    background: url(../images/left_button.png);
    font-size: 0;
    border: 0;
}


#sec5 .slick-next {
    left: -140px;
    background: url(../images/right_button.png);
    font-size: 0;
    border: 0;
}

/* sec6 */



/* footer */
#footer {
    background-color: #396F96;
    color: #eee;
    padding: 30px 0;
}

#footer .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#footer .footer_left,
#footer .footer_right {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 140%;
    width: 50%;
}

#footer .footer_right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#footer .footer_left img {
    margin-bottom: 20px;
}

#footer .footer_right .footer_link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#footer .footer_right .footer_link a {
    font-size: 0.8rem;
    margin-right: 10px;
}

#footer .footer_right .footer_link a:last-child {
    margin: 0;
}

#footer .footer_right .footer_link a:hover {
    color: #fff;
    font-weight: 600;
}

#footer .footer_sns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 300px;
}

#footer .footer_sns img {
    width: 50px;
    height: 50px;
}

#footer .footer_sns a:hover {
    filter: brightness(0) saturate(100%) invert(74%) sepia(87%) saturate(2400%) hue-rotate(331deg) brightness(92%) contrast(95%);
    /* filter: invert(53%) sepia(56%) saturate(567%) hue-rotate(77deg) brightness(98%) contrast(88%); 초록색*/
}

@media all and (max-width:1180px) {
    #header nav {
        display: none;
    }

    .btn_all {
        display: block;
    }
}